.main_container {
    position: relative;

    .me_container {
        position: absolute;
    }

    .s1_container {
        position: absolute;
    }
s
    .s2_container {
        position: absolute;
    }

    .s3_container {
        position: absolute;
    }
}