section {
    height: 100vh;
}

h1 {
    margin: 0;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.main_container {
    height: 100vh;
    position: relative;

    .start_section {
        .start_container {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vh;
            height: 100vh;
            left: 26%;

            h1 {
                font-family: 'Hanson';
                font-size: 75px;
                color: #f95738;
                text-align: center;
            }
        }
    }

    .hero_section {
        .me_container {
            position: absolute;
            z-index: 2;
            left: 15%;

            .me_photo {
                width: 1000px;
                justify-content: center;
                align-items: center;
            }
        }

        .ns_container {
            position: absolute;
            z-index: 3;
            bottom: 2%;
            rotate: -7deg;
            left: 32%;

            .Name_Sticker {
                width: 500px;
                height: auto;
            }
        }

        .s1_container {
            position: absolute;
            z-index: 3;
            bottom: 50%;
            rotate: -7deg;
            left: 18%;

            .Sticker_1 {
                width: 225px;
                height: auto;
            }
        }

        .s2_container {
            position: absolute;
            z-index: 3;
            bottom: 40%;
            rotate: 10deg;
            left: 68%;

            .Sticker_2 {
                width: 350px;
                height: auto;
            }
        }

        .s3_container {
            position: absolute;
            z-index: 3;
            bottom: 20%;
            rotate: -13deg;
            left: 6%;

            .Sticker_3 {
                width: 350px;
                height: auto;
            }
        }
    }

    .about_section {
        background-color: #ee964b;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .about_container {
            padding: 70px;
            width: 600px;
            height: auto;
            background-color: #0d3b66;

            h1 {
                font-family: 'Hanson';
                font-size: 50px;
                color: white;
                margin: 0;
            }

            h2 {
                font-family: 'Coolvetica';
                font-size: 50px;
                font-weight: 100;
                color: white;
                margin-top: 20px;
                margin-bottom: -20px;
            }

            p {
                font-family: 'Coolvetica';
                font-size: 25px;
                color: white;

            }
        }

        .about_photo {
            overflow: hidden;
            top: auto;

            .about_me_photo {
                position: relative;
                width: auto;
                height: 900px;
                object-fit: contain;
                bottom: 20%;
            }
        }
    }

    .slider_section {
        height: 100px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: auto;
        background-color: #f95738;

        .slide_track {
            animation: scroll 40s linear infinite;
            display: flex;
            width: max-content;
            flex-direction: row;
            gap: 20px;

            .slide {
                font-size: 50px;
                font-family: 'Hanson';
                color: white;
                margin-left: 20px;
            }
        }
    }


    .skills_section {
        background-color: #faf0ca;

        .skills_container {
            padding: 70px;

            h1 {
                font-family: 'Hanson';
                font-size: 50px;
                color: #0d3b66;
                margin: 0;
            }
        }
    }

    .services_section {
        background-color: #f4d35e;

        .services_container {
            padding: 70px;
        }

        h1 {
            font-family: 'Hanson';
            font-size: 50px;
            color: white;
            margin-bottom: 0;
        }

    }

    .works_section {
        background-color: #0d3b66;

        .works_container {
            padding: 70px;

            h1 {
                font-family: 'Hanson';
                font-size: 50px;
                color: white;
                margin: 0;
            }
        }
    }
}